/*LAYOUT BODY*/
body {
  margin: 40px;
  font-size: 100%;
}

/*CONTAINER*/
.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.column {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 100%;
}

/*DESIGN*/
.h1 {
  font-family: Tahoma, Verdana, sans-serif;
  font-style: oblique;
  font-size: %;
}

.p {
  font-family: Tahoma, Verdana, sans-serif;
  font-style: oblique;
  font-size: 30em;
}

/*RESPONSIVENESS*/
@media screen and (max-width: 768px) {
  .navigation-menu {
    grid-column: span 6;
  }
  .main-content {
    grid-column: span 6;
  }
}
@media screen and (max-width: 480px) {
  .navigation-menu {
    grid-column: span 12;
  }
  .main-content {
    grid-column: span 12;
  }
}

.hidden {
  display: none;
}
